<h3 class="ui dividing header">
  Title: {{entry.title}}
</h3>

<p>Summary: {{entry.summary}}</p>

<audio controls style="width: 100%; margin: 1%;" preload="none">
  Your browser does not support the audio element. Try updating your browser or installing a new one. 
  <source src={{entry.file}}>
</audio>