<div class="ui horizontal divider"></div>

<div class="ui center aligned container">
  <h2>Entries</h2>
</div>

{{#each model as |entry|}}
  <div class="ui segment">
    {{mb-entry entry=entry}}
  </div>
{{/each}}

<div class="ui horizontal divider"></div>

<div class="ui right aligned container">
    {{mb-pagination-buttons 
      route="podcasts.show.entries" 
      pagination=model.meta.pagination}}
</div>