{{mb-subscribe action="subscribe"}}

<div class="ui horizontal divider"></div>

<div class="ui center aligned container">
  <h1>Podcasts</h1>
</div>

{{#each model as |podcast|}}
  <div class="ui segment">
    <h3 class="ui dividing header">
      Titile:
      {{#link-to "podcasts.show.entries" podcast}}
        {{podcast.title}}
      {{/link-to}}
    </h3>
    
    {{mb-podcast podcast=podcast}}
  </div>
{{/each}}

<div class="ui horizontal divider"></div>

<div class="ui right aligned container">
  {{#link-to 'podcasts.index' (query-params page=model.meta.pagination.first) class="ui button"}}
    First
  {{/link-to}}
  {{#link-to 'podcasts.index' (query-params page=model.meta.pagination.prev) class="ui left labeled icon button"}}
    <i class="left arrow icon"></i>
    Previous
  {{/link-to}}
  {{#link-to 'podcasts.index' (query-params page=model.meta.pagination.next) class="ui right labeled icon button"}}
    <i class="right arrow icon"></i>
    Next
  {{/link-to}}
  {{#link-to 'podcasts.index' (query-params page=model.meta.pagination.last) class="ui button"}}
    Last
  {{/link-to}}
</div>