<h1>Podcasts:</h1>
<ul>
  {{#each model as |podcast|}}
    <li>
      {{#mb-podcast podcast=podcast}}
        {{!-- {{#link-to "podcasts.show" podcast}}
          {{podcast.title}}
        {{/link-to}} --}}
      {{/mb-podcast}}
    </li>
  {{/each}}
</ul>
